.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    margin-top: -7em;
    width: 100vw;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    width: 100vw;
    margin-top: -17.2em;
}

.title {
    margin-top: 1.8em;
    margin-bottom: 1.5em;
    font-family: "Montserrat", "sans-serif";
    font-size: 36px;
    font-weight: lighter;
    text-align: center;
    color: var(--midnightGreen);
    letter-spacing: .2em;
}