.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100vw;
    height: 3.3em;
    background: var(--midnightGreen);
    position: absolute;
}

.home,
.list,
.register {
    text-decoration: none;
    color: var(--white);
    font-family: "Comfortaa", sans-serif;
    font-size: 14px;
}


.list {
    margin-left: 55em;
}

.register {
    margin-right: 1em;
}