.container {
    display: flex;
    justify-content: center;
    width: 45vw;
    height: 18em;
    margin-bottom: 6em;
    margin-top: 1em;
}

.imgcontent {
    width: 17em;
    height: 21em;
}

.img {
    margin-top: -2em;
    width: 17em;
    height: 21em;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.card {
    display: flex;
    width: 50em;
    height: 21em;
    padding: 32px 0px 0px 0px;
    box-shadow: 4px 4px 4px 0px #00000040;
    background: var(--white);
}

.container i {
    color: var(--midnightGreen);
    position: absolute;
    margin-left: 19em;
    cursor: pointer;
}

.textContent {
    width: 40em;
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    letter-spacing: 1.5px;
    gap: .5em;
    font-family: "Inter", sans-serif;
}

.title {
    color: var(--midnightGreen);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.subtitle {
    color: var(--lightGray);
    margin-left: .1em;
    margin-top: .2em;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.user {
    position: absolute;
    margin-top: 14.7em;
    margin-left: 19em;
    font-size: 18px;
    font-weight: 500;
    color: var(--lightGray);
}

.info {
    margin-top: 1em;
    font-size: 23px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1%;
    text-align: left;
    color: #555e66;
    width: 25em;
}

.difficulty {
    margin-top: 1em;
    font-size: 23px;
    font-weight: 500;
}

.container p {
    margin-top: 1em;
    color: var(--lightGray);
}