.card_container {
  display: flex;
  box-shadow: 0.2em 0.2em 0.8em black;
  height: 15em;
  width: 44em;
  margin-bottom: 60px;
}

.card_imagem {
  background-position: center;
}

.text_container {
  margin-left: 15px;
  font-weight: bold;
}

h1 {
  margin-top: 10px;
}

span {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding: 5px;
  font-weight: bold;
  
}

p {
  margin-top: 15px;
}
