.container {
    display: flex;
    justify-content: center;
    width: 45vw;
    height: 18em;
    margin-bottom: 6em;
    margin-top: 1em;
}

.container:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.container:hover .card {
    transform: scale(1.01);
    transition: 2s;
}

.imgContent {
    width: 15em;
    height: 20em;
    margin-top: -2em;
    background-color: #ebedef;
}

.img {
    width: 15em;
    height: 20em;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.card {
    display: flex;
    width: 45em;
    height: 20em;
    padding: 32px 0px 0px 0px;
    box-shadow: 4px 4px 4px 0px #00000040;
    background: var(--white);
}

.btnDelete{
    margin-left: 29.5em;
    margin-right: 0;
    margin-top: -.3em;
    outline: none;
    border: none;
    width: 3em;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
}

.btnDelete i{
    color: var(--midnightGreen);
}

.textContent {
    width: 28em;
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    letter-spacing: 1.5px;
    gap: .4em;
    font-family: "Inter", sans-serif;
}

.title {
    color: var(--midnightGreen);
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1.5px;
    width: 18em;
    margin-top: -.3em;
}

.subtitle {
    color: var(--lightGray);
    margin-left: .1em;
    margin-top: .2em;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.user {
    position: absolute;
    width: 24em;
    text-align: right;
    margin-top: 14em;
    font-size: 18px;
    font-weight: 500;
    color: var(--lightGray);
}

.info {
    margin-top: 1em;
    font-size: 23px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1%;
    text-align: left;
    color: #555e66;
    width: 18em;
}

.difficulty {
    margin-top: .7em;
    font-size: 23px;
    font-weight: 500;
}

.container p {
    margin-top: 1em;
    color: var(--lightGray);
}