.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 2.5em;
    background: #084e50;
    color: #FFFFFF;
}

.p {
    font-family: Comfortaa;
    font-size: 13px;
}

.social {
    margin-top: .2em;
    margin-left: 61em;
}

.github {
    margin-right: 1.2em;
}