/* configurações globais e variáveis */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@350&family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*após utilizar https://coolors.co/  para gerar uma paleta de cores*/
:root {
    --gunmental: #1F272B;
    --midnightGreen: #084E50;
    --white: #FFFFFF;
    --lightGray: #6b757e;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}